@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'sans-serif';
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html,
body {
    color: #363636;
}
a {
    color:unset;
}
*:focus {      /*focus: whenever an item is clicked*/
    outline: none;       /*on clicking a border is appeared it removes tht*/
    border: none;
}
section {
    margin: 20px 0;

}
/*********************************/
/*        HEADER                */
/*********************************/
header {
    background-image: url("../images/hero.png");
    background-position: center;
    background-size: cover;
    height: 70vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 25px 0;
    width: 90%;
    margin: 0 auto;
}
.nav-item {
    color: #fff;
    margin: 0 10px;
}
nav div.container {
    display: flex;
}

.nav-item {
    font-size: 1.2rem;
    font-weight: 200;
}
nav .app {
    font-size:  0.9rem;
    font-weight: 800;
}

/*********************************/
/*        HEADER CONTENT        */
/*********************************/
header div.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}
header img.logo {width: 300px;}
header h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
}
header div.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
} 
div.search-box i {
    margin: 10px;
}
header div.search-box div.select i{
    color: #F57082;
}
header div.search-box div.input i{
    color: #828282b7;
}
header div.search-box div.separator {

    background-color: #8282829b;
    height: 50%;
    width: 2px;
}
header div.search-box div.input {
    flex-grow: 80;
}
header div.search-box div.input input {
    width: 100%;
}
div.search-box div {
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0px 10px;
}
header div.search-box div.input input,
header div.search-box div.select select{
    font-size: 1.2rem;
    color: #757575;
}

/*********************************/
/*        CITIES                 */
/*********************************/
.cities {
    min-height: 30vh;
}
.cities .container {
    text-align: center;
    padding: 30px 0;
    margin: 0 auto;
}
.cities .container span {
    font-weight: 400;
}

.cities h1 {
    font-size: 2.8rem;
    font-weight: 300;
}
.cities .btn-cities {
    display: flex;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    max-width: 25%;
    margin: 30px 80px;
    padding: 25px;
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: space-between;
}

/*********************************/
/*        GET APP                 */
/*********************************/
section.get-app{
    background-color: #FFFBF7;
    height: 65vh;
}
section.get-app .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section.get-app .container img {
    max-width: 300px;
}
section.get-app .container .app-info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.get-app div.input-radio {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}
section.get-app div.input-radio div{margin-right: 2.8rem;}
section.get-app .app-info .app-link {
    display: inline-block;
}
section.get-app .app-info .app-link img {
    max-width: 180px;
    margin-right: 20px;
}
section.get-app .app-info div.input {
    display: flex;
    justify-content: start;
    min-height: 3rem;
}
section.get-app .app-info div.input input {
    width: 70%;
    color: #cfcfcf;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    padding: 10px;
    font-size: 1.1rem;
}

section.get-app .app-info div.input div.btn-app {
    padding: 14px 8px;
    width: 30%;
    background-color:#ED5A6B ;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    align-items: center;
    color: #fff;
    margin-left: 8px;
}

section .app-info h2 {
    font-size: 2.8rem;
    font-weight: 400;
}
section .app-info p,
section .app-info label {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
}
section .app-info h2,
section .app-info p{margin-bottom : 24px}
section.get-app div.app-info p.btn-share{
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 20px;
    color: #9c9c9c;

}

/*********************************/
/*        EXPLORE                */
/*********************************/
section.explore {
    min-height: 50vh;
}
section.explore .container {
    width: 90%;
    margin: 0 auto;
    padding: 25px 10px;
}
section.explore .container h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}
section.explore .container h3 {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 18px 0;
}
section.explore .container div ul {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}

section.explore .container ul li
{
    padding: 6px 30px;
    padding-left: 0;
    color: #828282;
}

/*********************************/
/*        FOOTER                 */
/*********************************/
footer {
    background-color: #F8F8F8;
    height: 58vh;

}
footer div.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 45px 0;
}
footer div.footer-head {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}
footer div.container div.links ul li {
    list-style: none;
    padding: 4px 0;
    font-size: 1.2rem;
    color: #696969;
}



footer div.container img {
    width: 100%;
    height: 30px;
}
footer div.container div.right-col {
    display: flex;
    text-align: center;
    width: 220px;
    justify-content: space-between;
}
footer div.container div.right-col .btn-country,
footer div.container div.right-col .btn-language {
    width: 100px;
    border: 1px solid #363636;
    border-radius: 6px;
    padding: 10px;
}
footer div.container .links {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
    margin-right: 80px;

}
footer div.container .links h4 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    color: #000;
    margin-bottom: 10px;
}

footer div.container .links .social-links {
    display: flex;
    flex-direction: column;
}
footer div.container .links .social-links img {
    margin-bottom: 10px;
    width: 100%;
    height: 3rem;
    color: #828282;

}
footer div.container .links .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8px 0 18px 0;
} 
footer div.container .links .social-icons a img{
    height: 1.8rem;
    width: 1.8rem;
}
footer .container .footer-hr {
    margin-top: 20px;
    color: #cfcfcf;
    border-width: 1px 0 0;
}
footer .container p.footer-info{
    font-size: 1.1rem;
    color: #4f4f4f;
    margin-bottom: 2rem;
    font-weight: 300;
    line-height: 1.4rem;
    margin-top: 15px;
}
